@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --Very-Dark-Grayish-Blue: #48556a;
    --Desaturated-Dark-Blue: #6d7f97;
    --Grayish-Blue: #9eafc2;
    --Light-Grayish-Blue: #ecf2f8;

    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Light-Grayish-Blue);
}

/* Main Area */
main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 50%;
    height: 35%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 0px 15px 60px -15px var(--Grayish-Blue);
}

.drawer {
    width: 36%;
    border-radius: 10px 0 0 10px;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    width: 64%;
    color: var(--Desaturated-Dark-Blue);
    padding: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article h2,
article h3 {
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}

.pro-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 1.2em;
}

.pro-name {
    float: left;
}

.pro-name h4 {
    font-weight: 500;
}

#share {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    color: var(--Very-Dark-Grayish-Blue);
    fill: currentColor;
    float: right;
}

#share:hover {
    cursor: pointer;
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Light-Grayish-Blue);
    fill: currentColor;
}

/* Share Section */
.share-btn {
    display: none;
    position: absolute;
    right: -6.5em;
    bottom: 6em;
    background-color: var(--Very-Dark-Grayish-Blue);
    border-radius: 10px;
    width: 20em;
    height: 4em;
    padding: 0 3em;
    letter-spacing: 0.3em;
    text-align: center;
    line-height: 4em;
    justify-content: space-around;
}

.share-btn::after {
    content: "";
    position: absolute;
    bottom: -25px;
    width: 25px;
    height: 25px;
    border-top: 15px solid var(--Very-Dark-Grayish-Blue);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.share-btn button {
    background-color: var(--Very-Dark-Grayish-Blue);
    border: none;
    vertical-align: middle;

}

/* Footer Section */
footer {
    background-color: #000;
    height: 10vh;
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 10vh;
}

.attribution a {
    color: hsl(228, 100%, 75%);
    text-decoration: none;
    font-weight: 700;
}

/* Mobile Version */
@media screen and (max-width: 375px) {
}
